<mat-card [ngStyle]="{backgroundColor: getTheme(), color: getColor()}">
  <mat-card-title><span [matBadge]="todoList.length" matBadgeOverlap="false">Todo-List</span></mat-card-title>
    <span class="toggle-style">Light<mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="checked">Dark</mat-slide-toggle></span>
  <mat-progress-bar mode="determinate" [value]="getProgressStatus()"></mat-progress-bar>
<mat-selection-list>
  <mat-list-item>
  <form #dataForm class="example-form" (keydown)="keyDownFunction($event, todoItem)">
    <mat-form-field class="example-full-width">
      <mat-label [ngStyle]="{color: getColor()}">Add a Todo..</mat-label>
      <input matInput placeholder="Ex. Buy grocery" #todoItem>
    </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item  [ngStyle]="{color: getColor()}"  *ngFor="let item of todoList;let index = index">
      <span>
        <mat-icon class="done-btn" (click)="markCompleted(index, item.name)" aria-hidden="false" aria-label="Example done icon">done</mat-icon>
      </span>
    <editable (update)="updateField(index, 'name')">
    <ng-template viewMode>{{item.name}}</ng-template>
    <ng-template editMode>
      <input [formControl]="getControl(index, 'name')" editableOnEnter>
    </ng-template>
    </editable>
    <span>
      <mat-icon class="delete-btn" aria-hidden="false" aria-label="Example delete icon" (click)="deletePost(item.name, index)">delete</mat-icon>
    </span>
  </mat-list-item>
</mat-selection-list>
</mat-card>

<mat-card [ngStyle]="{backgroundColor : getTheme(), color: getColor()}">
  <mat-card-title>Completed</mat-card-title>
  <mat-selection-list>
    <mat-list-item [ngStyle]="{color: getColor()}" *ngFor="let item of completed;let i = index">
      {{ item }}
    </mat-list-item>
  </mat-selection-list>
</mat-card>