<mat-card>
  <mat-card-title><span [matBadge]="todoList.length" matBadgeOverlap="false">Todo-List</span></mat-card-title>
  <span><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></span>
  <mat-progress-bar mode="determinate" [value]="noofCompleted"></mat-progress-bar>
<mat-selection-list>
  <mat-list-item>
  <form #dataForm class="example-form" (keydown)="keyDownFunction($event, todoItem)">
    <mat-form-field class="example-full-width">
      <mat-label>Add a Todo..</mat-label>
      <input matInput placeholder="Ex. Buy grocery" #todoItem>
      <!-- <span>
        <mat-icon class="add-todo-btn" aria-hidden="false" aria-label="Example home icon">post_add</mat-icon>
      </span> -->
    </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item (click)="markCompleted(item, i)" *ngFor="let item of todoList;let i = index">
    {{ item }}
  </mat-list-item>
</mat-selection-list>
</mat-card>

<mat-card>
  <mat-card-title>Completed</mat-card-title>
  <mat-selection-list>
    <mat-list-item *ngFor="let item of completed;let i = index">
      {{ item }}
    </mat-list-item>
  </mat-selection-list>
</mat-card>